{% extends 'base.html.twig' %}

{% block title %}Hello MesDevisController!{% endblock %}

{% block content %}

    <h1>Vos devis :</h1>

    {% if devisListe is empty %}
        <p>Aucun devis trouvé.</p>
    {% else %}
        <table class="table-devis">
            <thead>
            <tr>
                <th>Date</th>
                <th>Hauteur</th>
                <th>Longueur</th>
                <th>Qualité</th>
                <th>Haie</th>
                <th>Prix</th>
                <!-- Ajoutez d'autres en-têtes de colonnes selon vos besoins -->
            </tr>
            </thead>
            <tbody>
            {% for devis in devisListe %}
                <tr>
                    <td>{{ devis.date|date('Y-m-d') }}</td>
                    <td>{{ devis.hauteur }} m</td>
                    <td>{{ devis.longueur }} m</td>
                    <td>{{ devis.typeClient }}</td>
                    <td>{{ devis.haie }}</td>
                    <td>{{ devis.prix }}€</td>
                    <!-- Ajoutez d'autres colonnes avec les informations du devis -->
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

{% endblock %}
