{% extends 'base.html.twig' %}

{% block title %}Devis index{% endblock %}

{% block content %}
    <h1>Devis index</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Hauteur</th>
                <th>Longueur</th>
                <th>Qualité</th>
                <th>Haie</th>
                <th>Prix</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for devi in devis %}
            <tr>
                <td>{{ devi.id }}</td>
                <td>{{ devi.date ? devi.date|date('Y-m-d') : '' }}</td>
                <td>{{ devi.hauteur }}</td>
                <td>{{ devi.longueur }}</td>
                <td>{{ devi.typeClient }}</td>
                <td>{{ devi.haie }}</td>
                <td>{{ devi.prix }}</td>
                <td>
                    <a href="{{ path('app_devis_crud_show', {'id': devi.id}) }}">Voir</a>
                    |
                    <a href="{{ path('app_devis_crud_edit', {'id': devi.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr><td colspan="6">Aucun enregistrement trouvé</td></tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('app_devis_crud_new') }}">Create new</a>
{% endblock %}
