{% extends 'base.html.twig' %}

{% block title %}Haie index{% endblock %}

{% block content %}
    <h1>Haie index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Code</th>
            <th>Nom</th>
            <th>Prix</th>
            <th>Catégorie</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for haie in haies %}
            <tr>
                <td>{{ haie.code }}</td>
                <td>{{ haie.nom }}</td>
                <td>{{ haie.prix }}</td>
                <td>{{ haie.categorie }}</td>
                <td>
                    <a href="{{ path('app_haie_show', {'code': haie.code}) }}">Voir</a>
                    |
                    <a href="{{ path('app_haie_edit', {'code': haie.code}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun enregistements n'a été trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_haie_new') }}">Créer</a>
{% endblock %}
